.cart_content{
    padding: 1rem;
    
    .cart_info{
        background: #FFFFFF;
        border-radius: .5rem;
        padding: .5rem;
        
        h2{
            text-align: center;
            font-size: 1.6rem;
            border-bottom: 1px solid #EEEEEE;
            padding-top: .8rem;
        }
        
        .p_number{
            display: flex;
            padding: .5rem 0;
            border-bottom: solid 1px #EEEEEE;
            
            .p_number_left{
                flex: 1;
                
                p{
                    line-height: 2.5rem;
                    
                    &:first-child{
                        color: red;
                    }
                }
                
            }
            
            .p_number_right{
                width: 4rem;
                height: 4rem;
                
                img{
                    width: 2rem;
                    height: 2rem;
                }
                p{
                    margin-top: -0.4rem;
                }
            }
        }
        
        
        //购物车数量
        .cart_num{
            border-bottom: solid 1px #EEEEEE;
            
            p{
                line-height: 3rem;
                
                &:last-child{
                   height: 3.5rem;
                   line-height: 3.5rem;
                   
                   .price{
                       font-size: 2rem;
                       color: red;
                   } 
                }
            }
        }
    }
    
    //购物车列表
    .cart_list{
        background: #FFFFFF;
        border-radius: .5rem;
        padding: .5rem;
        margin-top: 1rem;
        
        .item{
            display: flex;
            border-bottom: 1px solid #EEEEEE;
            
            .left_food{
                flex: 1;
                display: flex;
                height: 4.5rem;
                padding: .5rem;
                
                
                img{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 10%;
                    margin-right: .8rem;
                }
                
                .food_info{
                    flex: 1;
                    
                    p{
                        height: 2rem;
                    }
                }
                
                
            }
            
            .right_cart{
                width: 10rem;
                
                //g购物车数量加减
                .cart_num{
                    width: 10rem;
                    display: flex;
                    margin-top: .7rem; 
                    
                    .input_left, .input_right{
                        flex: 1;
                        width: 2.8rem;
                        height: 2.8rem;
                        line-height: 2.8rem;
                        font-size: 2rem;
                        text-align: center;
                        color: red;
                        border: 1px solid #eee;
                    }
                    .input_center{
                        flex: 1;
                        height: 2.8rem;
                        border-bottom: 1px solid #eee;
                        border-top: 1px solid #eee;
                        input{
                            text-align: center;
                            width: 100%;
                            height: 2.8rem;
                            border: none;
                            
                            float: left;
                        }
                        
                    }
                }
            }
            
        }
        
       
        
    }

}

